[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true,git = "https://www.github.com/AfricasVoices/CoreDataModules",ref = "create_SocialMediaCodes",extras=["mapping"]}
RapidProTools = {editable = true,git = "https://www.github.com/AfricasVoices/RapidProTools",ref = "create_contact"}
SocialMediaTools = {editable = true,git = "https://www.github.com/AfricasVoices/SocialMediaTools",ref = "v0.1.2"}
telethon = "*"

[dev-packages]

[requires]
python_version = "3.8"
